.DS_Store
venv/

**/*.gz
**/*.csv
**/*.tar
**/*.zip

**/*.gz.*
**/*.csv.*
**/*.tar.*
**/*.zip.*

word2vec_lenta.model
dict.opcorpora.txt

results_rugpt3_jokes

.env

**/runs
**/workshop_preprocessing_v2.session
**/workshop_preprocessing_v2.session-journal