QDRANT_HOST=http://localhost:6333
QDRANT_COLLECTION=AITH

LLM__NAME=
LLM__BASE_URL=
LLM__KEY=test

EMBEDDER__NAME=
EMBEDDER__BASE_URL=
EMBEDDER__KEY=test

LANGFUSE__BASE_URL=https://cloud.langfuse.com
LANGFUSE__PUBLIC_KEY=
LANGFUSE__SECRET_KEY=
LANGFUSE__ENVIRONMENT=development
